
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
# Include dlls in the CommonReferences directory
!*CommonReferences/*.dll

bin/
obj/
TestResults/

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sqlite

*.user
*.userosscache
*.sln.docstates

*.userprefs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

.vs/

publish/

*.publishproj


/.idea/
debug/

